.container{
  display: flex;
  flex-direction: column;
  width: 99vw;
  background: rgba(204, 204, 204, 0.06);
}
.box{
  width: 82vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15vh;
  padding-left: 16vw;

}
.linear-chart{

  /*width: 40vw;*/
  margin-left: 16vw;
  /*box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);*/
  /*margin-top: 20px;*/
  /*border-radius: 10px;*/
  /*height: 80vh;*/
}
.chart{
  display: flex;
  flex-direction: row}
@media screen and (min-width: 900px) {
  .container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }


}
